<style>
  h1{
    color:goldenrod;
  }
 a{
  display: inline-block;
  text-decoration: none;
  border: 2.5px solid;
  transition: 300ms;
  border-radius: 10px;
  padding: 3px;
}
 a:hover{
  color: ;
}
 a:active{
  color: lightblue;
}
  li a{
   margin-top: 10px;
   display: inline-block;
   color: black;
   text-decoration: none;
   border: 2.5px solid;
   transition: 300ms;
   border-radius: 10px;
   padding: 3px;
    }
  li a:hover {
  color: lightblue;
  }
  img {
  width: 30%
  }
</style>

<nav>
<a href="/">HOME</a>
<a href="/about">ABOUT</a>
<a href="/contact.html">CONTACT US</a>
</nav>

{{content}}
